<section>
  <div class="slideshow-container">

    <div *ngFor="let slides of finalArray" class="mySlides fade">
      <img [src]="slides.imgurl" style="width:100%">
      <div class="text"><h2><span class="slide-text">{{ slides.description }}</span></h2></div>
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>

    <div class="dots-container">
      <span class="dot" (click)="currentSlide(1)"></span>
      <span class="dot" (click)="currentSlide(2)"></span>
      <span class="dot" (click)="currentSlide(3)"></span>
    </div>

    </div>
    <br>
</section>
