.frontend {
  margin: 0 !important;

  &-container {
    padding: 0px 18px 0px 18px;
  }

  &-scroll-arrow {
    position: absolute;
    font-size: 35px;
    top: 11px;
    right: 21px;
  }

  &-scroll-top {
    position: fixed;
    background:#f1eded;
    bottom: 89px;
    right: 122px;
    cursor: pointer;
    padding: 15px 15px 15px 15px;
    text-align: center;
  }
}
