<section class="news">
  <div class="news-title">
    <h1>NEWS</h1>
  </div>
  <div class="news-container">
    <div *ngFor="let news of updatedNewsData; let i = index" class="news-item">
        <img [src]="news.imgurl" alt="">
      <div class="news-item-content">
        <p>{{ news.published }}</p>
        <p class="news-item-content-desc">{{ news.description }}</p>
      </div>
    </div>
  </div>
  <div class="news-loader-button">
    <button class="news-button" (click)="loadMoreNews()">LOAD MORE</button>
  </div>
</section>
