
label {
  color: #a39c9c;
}

.form {
  max-width: 350px;
  margin: auto;;

  &-btn {
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
    border-style: none;
    text-transform: uppercase;
  }

  &-group {
    margin-top: 2em;
  }

  &-text-footer {
    color: #a39c9c;
  }
}

.form p {
  text-align: center;
}

.form a {
  text-decoration: none;
  color: black;
}

.form a:hover {
  cursor: pointer;
}

.form h2{
  text-transform: uppercase;
  letter-spacing: 3px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.create-post {
  float: right;
}
